.container {
  background: var(--background);
  height: 10rem;

  .banner {
    height: 10rem;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      width: 240px;
      height: 25px;
    }
  }
}
